html {
  background-color: #f5f6f8;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}



.container-home{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:1rem

}
