html {
  background-color: #f5f6f8;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.todo-header {
  padding: 1rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  text-align: center;
}

.todo-header h1 {
  font-size: 1.5rem;
  margin: 0;
  text-shadow: #000 0.7px 0.7px 1px;
}

.container-home{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:1rem

}
