.container-todo-list {
  width: 40vw;
  background-color: rgb(97, 119, 248);
  border-radius: 10px;
  margin: 10em auto;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.todo-list-header {

  border-bottom: 1px solid rgb(255, 255, 255);
  text-align: center;
}

.todo-list-header h1 {
  font-size: 1.5rem;
  text-shadow: #000 0.7px 0.7px 1px;
}
.list-todo {
  padding: 0 1em 2em;
  margin: 1em 2em;
}
.list-empty {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0 1em 1em;
  margin: 1em 1em;
  justify-content: center;
  border-radius: 6px;
  height: fit-content;
  color: #fff;
}
#empty-text {
  text-shadow: #000 0.7px 0.7px 1px;
}

#check {
  align-self: center;
  font-size: 1.2rem;
  margin: 0.2rem;
}

.list-todo {
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
}

.todo {
  display:flex;
  flex-direction:column;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}

.todo:hover {
  cursor: pointer;
}

.todo h3 {
  color: rgb(97, 119, 248);
}

.todo-done {
  text-decoration: line-through;
  color: rgb(255, 0, 0);
}

.todo-day {
  font-style: italic;
  font-size: 0.65rem;
  color: rgb(0, 0, 0);
}
.todo-description {
  font-style: italic;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}

.todo svg {
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.title-todo {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#done {
  color: rgb(43, 166, 66);
}
#undone:hover {
  color: rgb(43, 166, 66);
}
#trash:hover {
  color: rgb(255, 0, 0);
}
#edit {
  align-self: end;
}
#edit:hover {
  color: rgb(204, 204, 0);
}
